@use "../../../style/scss/global/colors";

.SectionThree {
  background-color: #def1f9;

  padding-top: 12.7rem;
}

.SectionThree-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  padding: 5rem 0;
}

.SectionThree-wrapper h2 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.8rem;
  margin-bottom: 2rem;
}

.SectionThree-wrapper img {
  margin-bottom: 2rem;
}

.SectionThree-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
}

.SectionThree-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SectionThree-content img {
  height: auto;
  margin-bottom: 3rem;
}

.SectionThree-content h2 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin-bottom: 2rem;
  text-align: center;
}

.SectionThree-content p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: center;
  padding: 0 3rem;
  margin-bottom: 2rem;
}

.second {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-top: none;
  border-bottom: none;
  padding: 0 3rem;
}

.third img {
  margin-top: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .SectionThree {
    padding: 1rem 3rem;
    margin-top: -1rem;
  }

  .SectionThree-wrapper h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  .SectionThree-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .SectionThree-content {
    width: 100%;
    margin-bottom: 1rem;
    padding: 3rem 0;
    margin-top: -6rem;
  }

  .SectionThree-content h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }
  .SectionThree-content p {
    font-size: 12px;
    line-height: 132.19%;
  }

  .first,
  .second {
    padding: 0 2rem;
  }

  .second {
    border: none;
    
  }

  .third img {
    margin-top: -1.5rem;
  }
}
