@use "../../../style/scss/global/colors" as colors;

.sectionTwo {
  background-color: #f6f6f6;
}

.sectionTwo-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.sectionTwo-content-image {
  width: 50%;
  margin-right: 2rem;
}

.sectionTwo-content-image img {
  width: 100%;
  height: auto;
}

.sectionTwo-content-text {
  width: 50%;
}

.sectionTwo-content-text h2 {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 4.9rem;
  margin-bottom: 1rem;
}

.sectionTwo-content-text p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.7rem;
  margin-bottom: 2rem;
}

.sectionTwo-content-text button {
  border-radius: 2rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.3rem;
  background: colors.$white;
  border: none;
  padding: 1.5rem 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sectionTwo-content-text button:hover {
  background-color: #003f9d;
  color: colors.$white;
}

@media only screen and (max-width: 1023px) {
  .sectionTwo-content {
    flex-direction: column;
  }

  .sectionTwo-content-image,
  .sectionTwo-content-text {
    width: 100%;
    margin-right: 0;
  }

  .sectionTwo-content-image img {
    margin-bottom: 2rem;
  }
}

// .sectionTwo {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   background-color: aquamarine;
// }

// .sectionTwo-content {
//   @extend .sectionTwo;
//   flex-wrap: wrap;
//   flex-direction: row-reverse;
//   gap: 2.5rem;
// }

// .sectionTwo-content-image {
//   display: flex;
//   flex: 1 290px;
// }

// .sectionTwo-content-image img {
//   max-width: 100%;
// }

// .sectionTwo-content-text {
//   flex: 2;
//   outline: 1px dashed darkgoldenrod;
// }

// .sectionTwo-content-text h2 {
//   font-weight: 600;
//   font-size: 3.6rem;
//   line-height: 49px;
// }

// .sectionTwo-content-text p {
//   font-weight: 500;
//   font-size: 2rem;
//   line-height: 2.7rem;
//   margin-top: 1rem;
// }

// .sectionTwo-content-text button {
//   font-weight: 600;
//   font-size: 2rem;
//   line-height: 2.3rem;
//   background: colors.$white;
//   border-radius: 20px;
//   width: 19.7rem;
//   height: 6rem;
//   margin: 2rem 0;
// }

// @media screen and (max-width: 76.8rem) {
//   // .sectionTwo-content-image {

//   // }

//   .sectionTwo-content {
//     width: 32.7rem;
//   }

//   .sectionTwo-content-text {
//     display: flex;
//     flex-flow: column wrap;
//   }

//   .sectionTwo-content-text h2 {
//     font-size: 2.4rem;
//     line-height: 136.69%;
//   }

//   .sectionTwo-content-text p {
//     font-size: 1.2rem;
//     line-height: 134.19%;
//   }

//   .sectionTwo-content-text button {
//     width: 11.983rem;
//     height: 3.9rem;
//     font-size: 1.6rem;
//     line-height: 1.9rem;
//   }
// }
