@use "../../../style/scss/global/colors";
.SectionFour {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #def1f9;
}

.SectionFour-wrapper {
  text-align: center;
  margin: 3rem 0;
}

.SectionFour-wrapper h2 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.8rem;
  margin-bottom: 2rem;
}

.SectionFour-wrapper img {
  margin: 0 auto;
}

.SectionFour-container {
  // width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
  gap: 3rem;
}

.SectionFour-content {
  flex: 1;
  flex-basis: 20%;
  // margin-right: 20px;
  // margin-left: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.SectionFour-content img {
  width: 100%;
  margin-bottom: 20px;
}

.SectionFour-content h2 {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.8rem;
  margin-bottom: 1rem;
}

.SectionFour-content p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 2rem;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.icons img {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1rem;
}

.SectionFour-header {
  text-align: center;
  margin-bottom: 7rem;
  padding: 2rem 0;
}

.SectionFour-header h2 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.8rem;
  margin-bottom: 5rem;
}

.SectionFour-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SectionFour-heading_content {
  width: 583px;
  height: 192px;
  width: 48%;
  background-color: colors.$white;
  padding: 3rem 4rem;
}

.SectionFour-heading_content p {
  font-size: 24px;
  font-weight: 500;
  color: #333333;
  line-height: 1.5;
  margin-bottom: 20px;
}

.SectionFour-heading_content .SectionFour-para {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.3rem;
  color: colors.$secondary;
  margin-top: 2rem;
  text-align: left;
}

.swipper {
  display: none;
}

.SectionFour-background {
  background: url(../../../assets/images/background_image2.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 124rem;
  height: 21.7rem;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.SectionFour-background h2 {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.8rem;
  color: colors.$white;
}

.SectionFour-background p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;

  color: colors.$secondary;
  background: colors.$white;
  border-radius: 0px 20px;
  width: 21.7rem;
  height: 5.7rem;
  text-align: center;

  margin-top: 2rem;
  padding: 0 0.7rem;
}

.SectionFour-background p:hover {
  background: colors.$secondary;
  color: colors.$white;
}

@media screen and (max-width: 768px) {
  .SectionFour-container {
    padding: 1rem 3rem;
  }

  .SectionFour-wrapper h2 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.6rem;
  }

  .SectionFour-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    // flex-direction: column;
  }

  .SectionFour-content {
    flex-basis: 20rem;
  }

  .SectionFour-content h2 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.6rem;
  }

  .SectionFour-content p {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  .icons img {
    max-width: 100%;
  }

  .SectionFour-header h2 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.6rem;
  }

  .SectionFour-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }

  .SectionFour-heading_content {
    padding: 2rem 1rem;
    width: 151.56px;
    height: 192px;
    outline: 1px solid red;
  }

  .SectionFour-heading_content p {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: start;
  }

  .SectionFour-heading_content .SectionFour-para {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  .SectionFour-heading_content .space {
    margin-top: 3rem;
  }

  .SectionFour-background {
    width: 700px;
    height: 150px;
   display: grid;
   place-items: center;
  }
}

@media screen and (max-width: 600px) {
.SectionFour {
  padding: 1rem 2.5rem;
}

  .SectionFour-container {
    display: none;
  }

  .SectionFour-heading_content {
    padding: 2rem 2rem;
    width: 151.56px;
    height: 192px;
    outline: 1px solid red;
  }

  .SectionFour-heading_content .space {
    outline: 1px blue;
    margin-top: 5rem;
  }

  .SectionFour-wrapper {
    margin-top: -4.5rem;
  }

  .swipper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .pipper-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .pipper-content h2 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.8rem;

    color: #1e3673;
    margin-top: 0.9rem;
  }

  .pipper-content img {
   width: 290px;
   height: 100%;
  }

  .micons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.4rem;
    margin-bottom: 3rem;
  }

  .micons img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .SectionFour-background {
    max-width: 37.5rem;
    max-height: 17.5rem;
    

    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    //  display: none;
  }

  .SectionFour-background h2 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: colors.$white;
    // padding: 0 6rem;
    // margin: 0 auto;
    text-align: center;
  }

  .SectionFour-background p {
    font-size: 1.2rem;
    line-height: 1.4rem;

    border-radius: 0px 20px;
    width: 13.3rem;
    height: 3.8rem;
    text-align: center;
    padding: 0;

    margin-top: 2rem;
  }

  .SectionFour-header h2 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;

    color: #1e3673;
  }

    .mobile {
      margin-bottom: 1.7rem;
      margin-top: 1.7rem;
    }


}
