@use "../../../style/scss/global/colors";

.SectionThree {
  background-color: #def1f9;
  margin-top: 5rem;
}

.SectionThree-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  padding: 5rem 0;
}

.SectionThree-wrapper h2 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.8rem;
  margin-bottom: 2rem;
}

.SectionThree-wrapper img {
  margin-bottom: 2rem;
}

.SectionThree-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  // margin: 0 10%;
}

.SectionThree-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3%;
  text-align: center;
  gap: 1rem;
}

.SectionThree-content img {
  height: auto;
  margin-bottom: 3rem;
}

.SectionThree-content h2 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin-bottom: 2rem;
}

.SectionThree-content p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: center;

  margin-bottom: 2rem;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-top: none;
  border-bottom: none;
}

// @media only screen and (min-width: 768px) and (max-width: 1023px) {
//   .SectionThree {
//     text-align: center;
//     margin-bottom: 50px;
//   }

//   .SectionThree-wrapper {
//     margin-bottom: 50px;
//   }

//   .SectionThree-wrapper h2 {
//     font-size: 38px;
//     font-weight: 700;
//     margin: 0;
//   }

//   .SectionThree-wrapper img {
//     margin-top: 20px;
//   }

//   .SectionThree-container {
//     display: flex;
//     // flex-wrap: wrap;
//     justify-content: center;
//     align-items: center;
//   }

//   .SectionThree-content {
//     margin: 20px;
//     // width: 300px;
//   }

//   .SectionThree-content img {
//     max-width: 100%;
//     height: auto;
//     margin-bottom: 20px;
//   }

//   .SectionThree-content h2 {
//     font-size: 26px;
//     font-weight: 700;
//     margin: 0;
//   }

//   .SectionThree-content p {
//     font-size: 16px;
//     line-height: 24px;
//     margin: 0;
//   }
// }

@media only screen and (max-width: 767px) {
  .SectionThree {
    padding: 1rem 3rem;
  }

  .SectionThree-wrapper h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  .SectionThree-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .SectionThree-content{
    width: 100%;
  }

  .SectionThree-content h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }
  .SectionThree-content p {
    font-size: 12px;
    line-height: 132.19%;
  }

  .border {
    border: none;
  }
}
