@use "../../style/scss/global/colors" as colors;

.footer {
  background-color: colors.$secondary;
  color: colors.$white;
  padding: 6rem 2rem;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: inherit;
}

.footer__content-item {
  display: flex;
  align-items: center;
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: colors.$primary;
  padding-bottom: 3rem;
}

.footer-text h2 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.8rem;
}

.footer-text p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: center;
}

.footer__content-text {
  display: flex;
  flex-direction: column;
}

.footer__icons {
  display: flex;
  gap: 2rem;
}

.footer__content-text p,
.footer__content-text span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 2rem;
}

.footer__content h2 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.3rem;
}

.footer__content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding-top: 1rem;
}

.footer__mobile-content {
  display: none;
}

@media screen and (max-width: 600px) {
  .footer__content {
    display: none;
  }

  .footer__mobile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    // padding: 1rem 0;
  }

  .footer__mobile-content p {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
  }

  .footer__mobile-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
  }

  .footer__mobile-icons img {
    width: 1.834rem;
    height: 1.503rem;
  }

  .footer__mobile-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;

    margin-bottom: 1rem;
  }

  .footer__mobile-contact p,
  .span {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin: 0.5rem 0;
  }

  .span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 400;
    border-top: 1px whitesmoke solid;
    width: 150%;
    text-align: center;
  }
}

// @use "../../style/scss/utils/breakpoints" as breakpoint;
// @use "../../style/scss/utils/functions" as fn;

// .footer {
//   width: 100%;
//   // padding-block-start: 5%;
//   // padding-inline: 5%;
//   // display: flex;
//   // flex-direction: column;
//   background-color: colors.$black;

//   // SCREENS 765px and LARGER
//   // @include breakpoint-up("xl") {
//   // }

//   // SCREENS 1280px and LARGER
//   @media only screen and (min-width: 1280px) {
//     padding-block-start: 8rem;
//   }

//   // .footerMain,
//   // .footerCopyright {
//   //   // SCREENS 1400px and LARGER
//   //   @media only screen and (min-width: 1440px) {
//   //     width: 100%;
//   //     max-width: 90rem;
//   //     margin: auto;
//   //     padding-inline: 0%;
//   //   }
//   // }

//   .footerMain {
//     padding-block: 2.5rem;

//     // SCREENS 1280px and LARGER
//     @media only screen and (min-width: 1280px) {
//       padding-block-end: 0;
//       display: flex;
//       justify-content: space-between;
//     }

//     .footerLinks {
//       width: 100%;
//       display: flex;
//       flex-wrap: wrap;
//       justify-content: space-between;
//       gap: 10%;

//       // SCREENS 1280px and LARGER
//       @media only screen and (min-width: 1280px) {
//         width: 55%;
//         gap: 5%;
//       }

//       .footerCategory {
//         padding-block-end: 2rem;
//         display: flex;
//         flex-direction: column;
//         align-items: flex-start;

//         .footerLinksTitle {
//           color: colors.$white;
//           font-size: 0.9rem;
//           font-weight: 700;
//           line-height: 180%;
//           margin-block: 0;
//           padding-block-end: 1.5rem;
//         }

//         .footerLink {
//           color: colors.$grey;
//           font-size: 0.9rem;
//           font-weight: 300;
//           letter-spacing: 0.005em;
//           line-height: 180%;
//           padding-block-end: 1.5rem;
//           transition: all 300ms ease-in;

//           &:hover {
//             color: colors.$primary;
//           }
//         }
//       }
//     }

//     .footerCompany {
//       width: 100%;
//       max-width: 40ch;
//       padding-block-end: 1rem;
//       display: flex;
//       align-items: flex-start;
//       flex-direction: column;
//       gap: 1.5rem;

//       // SCREENS 1280px and LARGER
//       @media only screen and (min-width: 1280px) {
//         width: 30%;
//         padding-block-end: 0;
//       }

//       .footerCompanyText {
//         font-size: 1rem;
//         line-height: 150%;
//         color: colors.$grey;
//         opacity: 0.5;

//         // SCREENS 765px and LARGER
//         @media only screen and (max-width: 765px) {
//           display: none;
//         }
//       }
//     }
//   }

//   .footerCopyright {
//     padding-block: 2rem;
//     // border-block-start: 1px solid colors.$border;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     // // SCREENS 1280px and LARGER
//     // @media only screen and (min-width: 1280px) {
//     //   padding-block-end: 3rem;
//     // }

//     .footerSmall {
//       font-size: 0.7rem;
//       line-height: 100%;
//       text-align: center;
//       color: colors.$grey;
//       opacity: 0.5;

//       // SCREENS 1280px and LARGER
//       @media only screen and (min-width: 1280px) {
//         font-size: 0.8rem;
//       }
//     }

//     .footerSocialIcons {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       gap: 2rem;

//       .footerIcon {
//         // color: colors.$;
//         font-size: 0.8rem;
//         transition: all 300ms ease-in;

//         // SCREENS 1280px and LARGER
//         @media only screen and (min-width: 1280px) {
//           font-size: 1rem;
//         }

//         &:hover {
//           color: colors.$primary;
//         }
//       }
//     }
//   }
// }
